In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('train.csv',header=None)

In [3]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,491,492,493,494,495,496,497,498,499,500
0,42.3300,143.6800,129.6300,82.040,102.2300,85.2200,59.760,121.52,38.99,14.61,...,119.035,44.40,39.88,82.03,7.36,50.22,63.86,122.000,53.350,2363.6101
1,42.3600,143.7000,130.3200,82.080,102.1400,85.6500,59.840,121.48,39.01,14.71,...,119.035,44.11,39.88,82.03,7.38,50.22,63.74,121.770,53.350,2364.1001
2,42.3100,143.6901,130.2250,82.030,102.2125,85.5100,59.795,121.93,38.91,14.64,...,119.260,44.09,39.98,82.02,7.36,50.12,63.75,121.700,53.365,2362.6799
3,42.3700,143.6400,130.0729,82.000,102.1400,85.4872,59.620,121.44,38.84,14.63,...,119.260,44.25,39.99,82.02,7.35,50.16,63.88,121.700,53.380,2364.3101
4,42.5378,143.6600,129.8800,82.035,102.0600,85.7001,59.620,121.60,38.93,14.67,...,119.610,44.11,39.96,82.03,7.36,50.20,63.91,121.695,53.240,2364.8501

In [4]:
len(df)

4000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Columns: 501 entries, 0 to 500
dtypes: float64(501)
memory usage: 15.3 MB

In [6]:
df.describe()

,0,1,2,3,4,5,6,7,8,9,...,491,492,493,494,495,496,497,498,499,500
count,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,...,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000
mean,42.642208,143.015011,129.843457,79.112980,101.808618,85.192783,58.764681,117.219427,38.428418,13.399720,...,119.273952,44.625176,39.966759,82.533993,7.113176,50.198117,64.069074,120.189676,52.893361,2353.308547
std,1.085666,1.310048,0.466761,1.816322,0.408999,0.683386,0.404234,1.759045,0.495443,0.722819,...,1.421018,0.233263,0.366966,0.605403,0.083653,0.757128,0.362969,0.675782,0.311149,9.901458
min,40.830000,140.160000,128.240000,75.900000,100.880000,83.000000,57.870000,113.420000,37.460000,12.260100,...,116.670000,44.090000,39.120000,81.110000,6.970000,48.820000,63.180000,118.340000,52.300000,2329.139900
25%,41.760000,141.660000,129.540000,77.250000,101.550000,84.840000,58.530000,115.660000,37.896325,12.845000,...,118.210000,44.490000,39.680000,82.022325,7.040000,49.370000,63.870000,119.879750,52.640000,2345.460000
50%,42.290000,143.500000,129.820000,79.850000,101.790000,85.395000,58.800000,117.440000,38.530000,13.205000,...,119.200000,44.600000,40.020000,82.790000,7.100000,50.460000,64.020000,120.160000,52.830000,2354.210000
75%,43.690000,143.970000,130.080000,80.750000,101.990000,85.650000,59.000000,118.545525,38.880000,14.230000,...,119.780000,44.790000,40.270000,83.005000,7.195000,50.870000,64.370000,120.580000,53.180000,2359.262500
max,45.240000,145.450000,131.290000,82.230000,103.000000,87.080000,59.840000,122.165000,39.330000,14.720000,...,123.870000,45.270000,40.700000,83.545000,7.380000,51.390000,64.890000,122.280000,53.560000,2378.000000

In [7]:
x_prices = df.columns.tolist()[:-1]

In [8]:
y_price = df.columns.tolist()[-1]

In [9]:
y_price

500

In [10]:
X = df[x_prices]
Y = df[y_price]

In [11]:
from sklearn.linear_model import LinearRegression

In [12]:
lm = LinearRegression()

In [13]:
X = X.fillna(X.mean())
Y = Y.fillna(Y.mean())

In [14]:
lm.fit(X,Y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [15]:
lm.intercept_

590.8357087856398

In [16]:
lm.coef_

array([ 2.30731124e-01,  5.90065245e-01, -1.42675713e-01, -1.12521836e-01,
       -1.58850926e-01, -1.02308105e-01,  8.73487509e-03,  6.81781248e-02,
       -1.17676571e-01,  4.92337838e-01,  2.49230316e-01,  1.62079806e-02,
       -3.78543746e-01,  1.16556935e-01, -6.16099712e-01, -3.84462208e-02,
        7.52368709e-01, -4.43084004e-01,  1.61070840e-01, -3.67037317e-01,
        7.62712975e-01, -1.27903217e-01,  4.25036663e-01,  2.50205261e-01,
       -2.24131793e-02, -1.47364799e-02, -3.51807172e-01, -4.42826105e-01,
       -1.28803353e-01,  6.83714117e-02, -2.25904743e-01,  1.00391344e+00,
       -1.90650860e-01, -1.26749097e-01, -3.05702510e-01,  2.10046329e-02,
        3.10651743e-01,  1.05669650e-02,  5.89193852e-01,  4.36114149e-01,
        5.19397849e-01,  2.42333215e-01,  2.76992338e-01, -6.21954573e-02,
        2.43927381e-01, -4.52620760e-01,  4.38073815e-01, -4.44405767e-01,
       -3.69354006e+00,  3.13807506e+00, -5.16202388e-01,  9.89198070e-02,
       -3.29236758e-02, -4.36201651e-01, -3.97023069e-02,  9.48332234e-02,
        1.88557344e+00,  9.35804859e-01, -1.80397233e-01, -3.54502747e-02,
        1.78813823e-03,  3.54255085e-03, -2.12393071e+00,  8.50167203e-01,
        2.19894413e-01, -1.34973859e-02,  6.08568000e-02, -2.78936955e-01,
       -2.20362024e-01,  1.08334293e-01,  8.02669217e-01, -1.77851202e-01,
       -2.00875324e-01, -5.41197947e-01, -3.39385671e-01, -5.11637330e-01,
        5.42479523e-01, -4.95674892e-01, -3.89710884e-01, -2.60362036e-01,
       -1.83073829e-01,  3.62013753e-03,  5.42295976e-01, -3.53334519e-02,
       -9.34048679e-02,  6.25616664e-01, -4.06921441e-01,  4.39665084e-02,
       -1.60529644e-02, -1.83021859e+00, -3.43868545e-01,  2.07626109e-02,
       -5.73875954e-01,  8.24715610e-02,  1.98175200e-01, -1.01791025e-02,
        1.03809070e-02,  6.72140288e-01, -2.75365269e-01,  1.93408209e-01,
        4.05225174e-02,  4.79840529e-01,  7.20919783e-02,  3.63679975e-01,
        4.01810375e-02,  2.32926330e+00, -2.12594648e-01,  1.15085334e-01,
       -1.87759007e-01,  1.82435339e-01,  8.84259046e-02, -4.03374567e-01,
        4.76670651e-02, -4.66185982e-01,  1.32021453e-01, -2.57377895e-01,
       -1.93599176e-02,  1.75412661e-01,  3.26958552e-01, -9.32450328e-02,
       -1.69751425e-01, -2.86409949e-01,  2.41330262e-01,  4.14719894e-02,
       -7.70378311e-02,  4.22034318e-01, -4.44769872e-02,  3.12502222e-01,
        2.20877346e-01, -2.41226816e-01,  3.83066798e-02, -2.82325351e-01,
        2.06496975e+00,  4.30691029e-01, -2.29749490e-01,  5.16676403e-02,
        1.34562201e-01,  4.23802781e-01,  2.47857645e-01, -2.24391549e-01,
        1.75347091e-01, -1.77118618e-01, -1.11433876e-01,  4.19396466e-02,
        1.26702214e-01,  1.63234531e-01, -9.98920351e-03, -4.31321121e-02,
        2.65420618e-01, -1.83983755e-01, -5.84541841e-02, -3.04186514e-01,
        5.90568640e-02, -2.56030600e-01, -1.90428573e-01,  5.37999910e-01,
        2.10341714e-01, -4.79253880e-01, -2.96279439e-01,  2.72625110e-01,
       -2.03626029e-01, -9.54301511e-02,  4.85856447e-02,  4.61566716e-02,
        9.11607659e-02, -9.59437201e-01, -1.86835215e-01, -7.57241766e-01,
        3.89741284e-01, -1.04080150e-01,  9.54240261e-02, -1.31207378e+00,
        4.09799565e-01, -2.73255353e-01,  7.32361460e-01,  5.24496561e-02,
       -4.59719373e-01,  4.36269033e-01,  5.38827060e-01,  2.97826040e-01,
       -2.58646916e-01,  5.99019119e-02,  4.65692056e-01, -2.67275997e-01,
        7.02752959e-01,  2.61433735e-01, -5.32435677e-02,  4.55797621e-01,
        4.59615748e-02, -9.40589375e-02,  6.99320213e-02, -8.45524024e-02,
        2.36474612e-01,  1.91183164e+00,  2.47355509e+00,  5.76774066e-02,
       -1.28419218e+00,  1.73740412e-01, -4.23064438e-01, -2.71032539e-02,
        3.61950712e-02, -3.22573176e-01, -2.78600983e-02,  6.31427246e-01,
        1.98686991e-01,  3.29063771e-01,  3.01366558e-01,  1.66005722e-01,
       -3.78873826e-02, -1.94289927e-01,  1.14418164e+00, -5.22300658e-02,
       -2.93036017e-01,  1.57178998e-01, -3.02000377e-01,  2.98178714e-02,
        6.99979506e-01, -7.28918357e-02,  3.14495614e-01, -2.98745580e-01,
       -5.82486421e-02,  6.11299040e-02, -2.39701381e-01,  6.58934788e-01,
       -1.61700367e-01,  1.38776884e+00,  5.06156444e-01,  8.74701452e-02,
        4.33236311e-01, -4.41092136e-02,  4.61888064e-02,  3.12758265e-01,
       -1.54685732e-01,  5.62529223e-02, -5.44611991e-01, -9.74907724e-01,
       -1.04852375e-02, -2.71913074e-01, -1.69403647e-03,  2.34567115e-02,
       -6.88771988e-01,  2.57656292e-01,  3.00444827e-01, -1.01859975e-01,
       -3.51826522e-01,  4.44325453e-01,  5.93341260e-01,  9.21391859e-02,
       -2.23139771e-01, -1.99361446e+00, -1.67531406e-02,  1.23710354e-01,
       -1.46662601e-01,  1.60933348e-01,  1.52539715e-02,  1.57886213e-01,
        4.34966411e-02, -8.45622423e-02,  5.37859277e-01,  1.69379268e+00,
        2.09187175e-02,  8.41015116e-01,  1.86621757e-01, -1.37772972e-01,
        1.91988299e-01,  8.05633286e-01,  2.09917958e-02,  7.72966955e-02,
        1.56654376e-01, -3.73560741e-01, -4.49434206e-02,  3.71633232e-01,
       -1.79017804e-01,  1.80824709e+00,  7.32470648e-01, -6.56607100e-01,
        2.19828863e-01,  6.17911818e-01,  9.94540410e-01,  1.00923180e-03,
       -3.80361344e-03, -4.23366567e-01, -2.17898916e-01, -5.47742638e-01,
        1.46657327e-01, -4.04719700e-01, -2.20272195e-01, -3.07392438e-02,
       -2.17196440e-01,  2.59410280e-01, -1.79779941e-01, -3.35889380e-02,
       -2.89379979e-01,  1.78406865e-01,  3.22596511e-01, -9.99979674e-01,
       -3.08737072e-01, -1.59087764e+00, -6.39120397e-01, -6.77475913e-02,
        6.20487967e-02,  6.13593196e-01, -3.09164184e-02,  6.35893855e-02,
       -1.24989027e+00, -7.33564045e-01, -4.46067479e-01, -3.85602369e-01,
       -2.43491886e-01,  1.49522116e-01, -5.83222063e-01, -5.95701587e-01,
       -2.61997411e-01, -1.86042039e+00,  1.33494480e+00, -2.83819857e-01,
        2.41034249e-01, -3.35577571e-01, -1.77009568e+00, -2.30150906e-01,
        5.06704719e-01, -1.66149195e-01,  1.69020863e+00,  1.43552287e+00,
        8.34401131e-01, -6.83940696e-01, -2.22543586e-01, -5.50359130e-02,
       -3.85220921e-01, -2.02362170e-01,  2.73074036e-01, -2.12928132e-02,
        2.36096164e-01,  5.01018068e-02,  1.30117644e-01,  6.67718736e-01,
       -7.75682156e-01,  6.10805436e-01,  1.01655145e+00,  3.99388906e-01,
        5.58991777e-01,  3.73336999e-01,  8.06983910e-01,  5.12943011e-01,
        4.18290484e-01,  3.78583585e-01,  1.14107994e-01,  4.64580819e-01,
       -1.22492575e-01,  4.43478157e-01,  5.87599036e-01, -1.04698204e+00,
        1.39564308e-01, -3.44661884e-02,  2.35726926e-02, -2.85335287e-01,
       -1.64408431e-02, -1.56924715e-01,  8.12324818e-01,  6.25113966e-01,
       -4.11591938e-01,  1.04613360e-01,  6.53128251e-01, -4.05574159e-01,
       -1.08663615e+00, -6.45293667e-01,  4.04317140e-02,  7.92904260e-01,
       -4.75767068e-01, -3.39736240e-02, -4.01931239e-01, -1.00385178e-01,
        2.62105878e+00,  1.29795937e+00, -1.00035008e+00, -1.46012494e-02,
        1.35933230e-03, -9.50686353e-02,  3.82901286e-01, -2.90275745e-01,
       -2.21372329e-01, -5.89114916e-01,  3.34324675e-01,  3.18915112e-01,
       -7.11816704e-01, -9.43360901e-02,  1.28523232e+00, -1.38194343e+00,
        5.94764800e-01,  1.10774020e+00, -2.95394309e-01,  2.84941912e-01,
        3.92763844e-01, -5.73996224e-02, -1.54008225e+00, -1.38203660e-01,
        2.99395300e-01, -9.63055574e-02, -2.31070855e-01,  3.25551788e-01,
       -2.00249139e-01, -6.45527117e-02,  1.99390051e-01, -2.69945795e-01,
        4.03366208e-01,  2.56646844e-02, -3.01763616e-01, -1.49286953e-01,
        3.16509364e-01,  2.42944382e-02,  1.13490263e-01, -1.59142284e+00,
        2.36101247e-01,  2.56282999e-01, -1.85778387e+00,  4.59206342e-01,
        1.34373845e-01, -4.48584191e-01,  1.96612343e-02, -2.38011454e-01,
        2.67342874e-02, -1.38062918e-01,  7.49065401e-01,  3.56177457e-01,
        2.00848058e-01,  8.96911257e-01, -3.51933219e-01,  1.09688191e+00,
        2.48843440e-02,  1.63489314e-01, -2.07074608e-01, -4.54067306e-02,
        1.87473282e-01,  2.79464625e-02, -6.98645926e-01, -9.76992380e-02,
        9.51041768e-02,  7.46530275e-02,  3.37195941e-02,  3.86017619e-01,
        1.24389043e-01,  3.59513603e-01, -1.09985740e+00,  9.89066443e-03,
       -5.95834064e-01,  6.47666356e-01, -1.74009750e-01,  5.62933786e-02,
        9.98872148e-01,  3.90049760e-01, -7.64259824e-02, -2.54058584e-01,
        3.55840575e-01, -1.07017362e-01,  7.93458911e-03,  4.83166572e-01,
        1.52236785e-02,  3.11280474e-01, -1.96845952e-01,  4.26324509e-01,
       -1.07371576e+00,  4.10234180e-01,  3.27891403e-01, -3.83220241e-01,
        3.30523957e-01,  6.02857650e-01,  7.84196306e-01, -1.21532083e-01,
       -6.55218495e-01, -6.61248534e-02,  1.86739588e+00, -2.33000912e-01,
        6.80714880e-01,  5.50906007e-02, -2.81797962e-01,  3.21424356e-01,
        4.33370650e-02, -9.25028057e-02,  2.69127519e-01,  1.70569770e+00,
       -1.57061831e-01,  1.01475913e+00,  2.35797748e-01,  1.10637257e-02,
       -5.21663723e-01,  4.89726794e-01, -3.32133270e-01, -2.45631319e-01,
       -1.02628196e+00,  9.29215605e-02, -1.70530375e-01, -1.46122714e-01,
        4.68759482e-01,  2.05817371e-01,  5.99578749e-02, -4.96958036e-01,
       -5.04554119e-01,  7.38137284e-01, -7.18665629e-02,  1.81634049e-01])

In [17]:
test_data = pd.read_csv('test.csv',header=None)

In [18]:
test_data.head()

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
0,44.00,141.6500,129.73,76.85,101.9400,86.0344,59.0000,117.84,37.7800,12.7740,...,87.64,119.4125,45.150,40.515,81.4700,7.000,49.28,63.99,119.936,53.270
1,44.03,141.6800,129.84,76.90,101.9700,86.0600,59.0400,117.95,37.7800,12.7900,...,87.70,119.4800,45.150,40.515,81.5060,7.000,49.29,63.99,120.020,53.280
2,44.01,141.5965,129.87,76.86,101.9600,86.0700,59.0800,117.94,37.8000,12.7907,...,87.74,119.4700,45.185,40.520,81.5200,6.995,49.28,63.99,120.040,53.300
3,43.99,141.6250,129.85,76.88,101.9600,86.0600,59.0700,117.86,37.8137,12.7900,...,87.73,119.3350,45.180,40.490,81.5100,6.995,49.25,63.99,120.030,53.330
4,43.99,141.5500,129.74,76.89,101.9656,86.0465,59.0899,117.77,37.8000,12.7700,...,87.73,119.3300,45.160,40.490,81.5211,6.990,49.23,64.00,120.040,53.335

In [19]:
len(test_data)

1000

In [21]:
test_data.fillna(test_data.mean(),inplace=True)

In [22]:
Y = lm.predict(test_data)

In [23]:
type(Y)

numpy.ndarray

In [32]:
pd.DataFrame(Y).to_csv("predictions.csv",index=False)

In [30]:
pd.

In [26]:

pd.read_csv('predictions.csv').head()

             0
0  2342.034991
1  2342.395175
2  2342.289817
3  2342.247718
4  2342.335838